.shop-container{
    display: grid;
    grid-template-columns: 4fr 1.25fr;
}
.products-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 45px;
    margin: 100px 50px;
}
.cart-container{
    background-color: rgba(255, 153, 0, 0.3);
}
 @media screen and (max-width:700px) {
    .shop-container{
        display: grid;
        grid-template-columns: 1.5fr 1fr;
    }
    .products-container{
        grid-template-columns: repeat(1, 1fr);
    }
} 
